$primaryColor: #cecece;
$secondColor: #ffffff;

@import "./sass/Ship.scss";


.board {
  background-color: $primaryColor;
  padding: 0.5rem;
  border-radius: 0.7rem;
  display: grid;
  max-width: 400px;
  min-height: 400px;
  grid-template-columns: repeat(1, minmax(40px, 1fr));
  grid-template-rows: repeat(10, minmax(40px, 1fr));
  height: 100px;
  margin: 0 auto 0 auto;
  transition: background-color 0.3ms;

  &-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, minmax(40px, 1fr));
    grid-template-rows: repeat(1, minmax(40px, 1fr));
  }

  .selected {
    background-color: blue !important;
  }

  &-cell {
    width: auto;
    height: auto;
    border: 1px solid $primaryColor;
    background: white;

    &:hover {
      background: darken($secondColor, 10%);
    }

    &:active {
      background: darken($secondColor, 15%);
    }
  }
}